
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap');


* {
    margin: 0;
	padding: 0;
}


body {
    background-color: rgb(213, 202, 202);
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
}

main{
    color:#fff
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-weight: 600;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#home{
display: none;
}
#bio{
display: none;
}
#music {
    display: none;
}
#shows {
display: none;
}
#contact{
    display: none;
}